<mat-toolbar>
  <div class="align-self-end d-flex mat-form">
    <label class="mr-4">Problem Type: </label>
    <mat-radio-group [(ngModel)]="problem_type">
      <mat-radio-button value="Regression" class="mr-3">Regression</mat-radio-button>
      <mat-radio-button value="Classification">Classification</mat-radio-button>
    </mat-radio-group>
  </div>
  <div class="toolbar-mid"></div>
  <div calss="content-toolbar">
    <mat-slide-toggle class="mr-4" [(ngModel)]="supervised" [labelPosition]="'before'">Supervised</mat-slide-toggle>
    <button mat-stroked-button color="primary" class="mr-2" (click)="build()" [disabled]="!(problem_type && target_variable) && supervised">BUILD</button>
  </div>
</mat-toolbar>
<app-loader [isLoading]="isLoading" [message]=""></app-loader>
<table mat-table [dataSource]="dataAutomlSource" matSort class="w-100">
  <!-- Column 1 -->
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
    <td mat-cell *matCellDef="let row"> {{row.position}} </td>
  </ng-container>

  <!-- Column 2 -->
  <ng-container matColumnDef="variable">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Feature Name </th>
    <td mat-cell *matCellDef="let row"> {{row.variable}} </td>
  </ng-container>

  <!-- Column 3 -->
  <ng-container matColumnDef="missing_val">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Missing Value </th>
    <td mat-cell *matCellDef="let row"> {{row.missing_val}} </td>
  </ng-container>

  <!-- Column 4 -->
  <ng-container matColumnDef="dtype">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Data Type </th>
    <td mat-cell *matCellDef="let row"> {{row.dtype}} </td>
  </ng-container>

  <!-- Column 5 -->
  <ng-container matColumnDef="changedataType">
    <th mat-header-cell *matHeaderCellDef> Change data Type </th>
    <td mat-cell *matCellDef="let row">
      <mat-form-field floatLabel="never">
        <mat-select [(value)]="row.changedataType" placeholder="Select">
          <mat-option *ngFor="let option of dataSource.options.changedataTypes" [value]="option">{{option}}</mat-option>
        </mat-select>
      </mat-form-field>
    </td>
  </ng-container>

  <!-- Column 6 -->
  <ng-container matColumnDef="imputation_methods">
    <th mat-header-cell *matHeaderCellDef> Imputation methods </th>
    <td mat-cell *matCellDef="let row">
      <mat-form-field>
        <mat-select [(value)]="row.imputation_method">
          <mat-option *ngFor="let option of dataSource.options.imputation_methods" [value]="option">{{option}}</mat-option>
        </mat-select>
      </mat-form-field>
    </td>
  </ng-container>

  <!-- Column 7 -->
  <ng-container matColumnDef="data_transformation_steps">
    <th mat-header-cell *matHeaderCellDef> Data Transformation Steps </th>
    <td mat-cell *matCellDef="let row">
      <mat-form-field>
        <mat-select [(value)]="row.data_transformation_step">
          <mat-option *ngFor="let option of dataSource.options.data_transformation_steps" [value]="option">{{option}}</mat-option>
        </mat-select>
      </mat-form-field>
    </td>
  </ng-container>

  <!-- Column 8 -->
  <ng-container matColumnDef="use_for_model">
    <th mat-header-cell *matHeaderCellDef class="text-center"> Use for model </th>
    <td mat-cell *matCellDef="let row" class="text-center">
      <mat-checkbox [(ngModel)]="row.use_for_model"></mat-checkbox>
    </td>
  </ng-container>

  <!-- Column 9 -->
  <ng-container matColumnDef="target_variable">
    <th mat-header-cell *matHeaderCellDef class="text-center"> Target Variable </th>
    <td mat-cell *matCellDef="let row" class="text-center">
      <mat-radio-group [(ngModel)]="target_variable">
        <mat-radio-button [value]="row.variable"></mat-radio-button>
      </mat-radio-group>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>
<mat-paginator [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" showFirstLastButtons></mat-paginator>
<app-automl-parameters-form *ngIf="displayAutoMLPrametersForm" [option]="fromDefaultData" (close)="displayAutoMLPrametersForm = false;"
  (selected)="onAutoMLTrainingFormDataSubmit($event)"></app-automl-parameters-form>