zmk/tensorboardLogFolder/

zmk/nyokaBase/__pycache__/

*.pyc

zmk/nyokaBase/skl/__pycache__/

zmk/nyokaBase/xgboost/__pycache__/

zmk/nyokaBase/keras/__pycache__/

zmk/pmmlReg.pmml

zmk/nyokaBaseR/

zmk/events.out.tfevents.1574754520.SAG-GXLR8H2

zmk/events.out.tfevents.1574754745.SAG-GXLR8H2

zmk/testUseCase/supportData2/sampleWorkFlow.pmml

zmm/src/App/UMOYA-CLI.json
