<div class="zms-page">
  <ng-container>
    <mat-sidenav-container class="application-container">
      <mat-sidenav #sidenav mode="side" opened class="application-sidenav" [fixedInViewport]="sidenavOptions.fixed"
        [fixedTopGap]="sidenavOptions.top" [fixedBottomGap]="sidenavOptions.bottom">
        <app-sidebar class="w-100"></app-sidebar>
      </mat-sidenav>
      <mat-sidenav-content>
        <main class="main-container">
          <div id="content" role="main">
            <app-header></app-header>
            <router-outlet></router-outlet>
            <app-footer></app-footer>
          </div>
        </main>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </ng-container>
</div>