.btnCloseSnackbar {
    color: rgba(255, 255, 255, 0.55);
    &:hover {
        background: rgba(255, 255, 255, 0.25);
    }
}

.btnActionSnackbar {
    &:hover {
        background: rgba(0, 161, 225, 0.25);
    }
}