**/_pycache_
./nyokaBase/_pycache_/*
./nyokaBase/keras/_pycache_/*
./nyokaBase/lgbm/_pycache_/*
./nyokaBase/skl/__pycache__/*
./nyokaBase/statsmodels/__pycache__/*
./SwaggerSchema/__pycache__/*
./nyokaBase/xgboost/__pycache__/*
./testUseCase/__pycache__/*
./nyokaBase/.ipynb_checkpoints/*
./trainModel/migrations/*
./scoring/migrations/*
./trainModel/__pycache__/*
./nyokaserver/__pycache__/*
./scoring/__pycache__/*
./nyokaserver/migrations/*
./utility/migrations/*
./utility/__pycache__/*
./zmk/__pycache__/*
logs/* 
*.ipynb

*.pyc

testUseCase/ZmkUnitTestLog\.log
/testUseCase/installDependencies.log

requirement\.txt

nyokaBase\.zip

\.vscode/
