absl-py==0.9.0
asgiref==3.2.3
astor==0.8.1
backcall==0.1.0
certifi==2019.11.28
chardet==3.0.4
colorama==0.4.3
coreapi==2.3.3
coreschema==0.0.4
cycler==0.10.0
deap==1.3.0
decorator==4.4.1
Django==2.2.10
django-cors-headers==3.2.1
django-rest-swagger==2.2.0
django-sslserver==0.22
djangorestframework==3.11.0
gast==0.2.2
grpcio==1.26.0
h5py==2.10.0
idna==2.8
imageio==2.6.1
ipython==7.11.1
ipython-genutils==0.2.0
itypes==1.1.0
jedi==0.15.2
Jinja2==2.10.3
Keras==2.2.4
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.1.0
lightgbm==2.2.2
lxml==4.4.2
Markdown==3.1.1
MarkupSafe==1.1.1
matplotlib==3.1.2
mock==3.0.5
networkx==2.4
numpy==1.18.0
git+https://github.com/nyoka-pmml/nyoka.git@44Ext 
openapi-codec==1.3.2
pandas==0.25.3
parso==0.5.2
pickleshare==0.7.5
Pillow==6.2.0
prompt-toolkit==3.0.2
protobuf==3.11.2
Pygments==2.5.2
pyparsing==2.4.6
python-dateutil==2.8.1
pytz==2019.3
PyWavelets==1.1.1
pywin32==227
PyYAML==5.2
requests==2.22.0
scikit-image==0.16.2
scikit-learn==0.20.1
scipy==1.4.1
simplejson==3.17.0
six==1.13.0
sklearn-pandas==1.7.0
sqlparse==0.3.0
stopit==1.1.2
tensorboard==1.15.0
tensorflow==1.15.0
tensorflow-estimator==1.15.1
termcolor==1.1.0
TPOT==0.9.5
tqdm==4.41.1
traitlets==4.3.3
update-checker==0.16
uritemplate==3.0.1
urllib3==1.25.7
wcwidth==0.1.8
Werkzeug==0.15.3
wincertstore==0.2
xgboost==0.81
