<mat-sidenav-container class="page-container">
  <mat-sidenav #sidenav mode="side" opened class="content-sidenav" [fixedInViewport]="false" [fixedTopGap]="0"
    [fixedBottomGap]="0">
    <mat-toolbar>
      <div class="toolbar-mid">
        <div class="filter">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <span class="mdi mdi-magnify"></span>
              </span>
            </div>
            <label for="filter">Filter</label><input type="text" class="form-control" [(ngModel)]="filter"
              placeholder="Filter" id="filter">
          </div>
        </div>
      </div>
      <div class="content-toolbar">
        <button mat-icon-button aria-label="icon" matTooltip="Refresh" (click)="refresh()">
          <span class="mdi mdi-refresh text-secondary"></span>
        </button>
        <button mat-icon-button aria-label="icon" matTooltip="New Model" [matMenuTriggerFor]="newPMMLMenu">
          <span class="mdi mdi-file-plus text-secondary"></span>
        </button>
        <mat-menu #newPMMLMenu="matMenu">
          <button mat-menu-item (click)="newPmml('NN')">
            Neural Network
          </button>
          <button mat-menu-item (click)="newPmml('WF')">
            Workflow
          </button>
          <button mat-menu-item (click)="newPmml('WFBETA')">
            Workflow Beta
          </button>
          <button mat-menu-item (click)="autoML()">
            AutoML
          </button>
        </mat-menu>

        <button mat-icon-button aria-label="icon" matTooltip="Upload Models" (click)="uploadNewFiles()">
          <span class="mdi mdi-cloud-upload text-secondary"></span>
        </button>
      </div>
    </mat-toolbar>
    <app-loader [isLoading]="isLoading"></app-loader>
    <cdk-virtual-scroll-viewport itemSize="75" class="details-list">
      <ul class="list-group list-group-flush">
        <li *cdkVirtualFor="let item of listOfModels | searchfilter:'name':filter"
          [ngClass]="{'active': (item.id === selectedModel.id)}"
          class="list-group-item list-group-item-action text-truncate" (click)="sidenav.open();selectPMML(item)">

          <div class="text-truncate">
            <span class="mdi mr-2" [ngClass]="utilService.fileTypeIcon(item.type)"></span>
            <span innerHtml="{{ item.name | highlight: filter }}"></span>
          </div>
          <div class="text-muted">
            <small>Created: {{ item.created_on  | date: 'dd MMM yy, hh:mm a'  }}</small>
          </div>
        </li>
        <li *ngIf="!(listOfModels && listOfModels.length) && !isLoading"
          class="list-group-item text-truncate text-center text-muted">
          No models available
        </li>
      </ul>
    </cdk-virtual-scroll-viewport>
  </mat-sidenav>
  <mat-sidenav-content class="content-main" [@.disabled]="true">
    <app-loader [isLoading]="isContentLoading"></app-loader>
    <mat-tab-group class="noTabsHeader" [(selectedIndex)]="tabSelectedIndex"
      (selectedIndexChange)="tabSelectedIndexChanged($event)" [dynamicHeight]="true">

      <mat-tab label="INFO">
        <ng-template matTabContent>
          <div *ngIf="selectedModel.id && tabSelectedIndex === 0">
            <mat-toolbar>
              <h2><span #name contenteditable="true"
                  (blur)="updateName(name)">{{ selectedModel?.id }}</span>.{{ selectedModel?.extension }}</h2>
              <div class="toolbar-mid"></div>
              <div calss="content-toolbar">
                <button mat-icon-button aria-label="icon" matTooltip="Publish Model" (click)="publishModel()">
                  <span class="mdi text-secondary mdi-publish"></span>
                </button>
                <button mat-icon-button aria-label="icon" (click)="deployModel()" *ngIf="selectedModel.deployableToZAD"
                  [matTooltip]="!selectedModel.deployed ? 'Deploy model to server' : 'Remove model from server'">
                  <span class="mdi mdi-cloud-outline text-secondary"
                    [ngClass]="{'mdi-cloud-outline': !selectedModel.deployed, 'mdi-cloud': selectedModel.deployed}"></span>
                </button>
                <button *ngIf="!selectedModel.loaded" mat-icon-button [matMenuTriggerFor]="loadInMemoryMenu"
                  matTooltip="Load in Memory">
                  <span class="mdi mdi-progress-upload text-secondary"></span>
                </button>
                <mat-menu #loadInMemoryMenu="matMenu">
                  <button *ngFor="let option of listOfZMKInstances" mat-menu-item (click)="loadInMemory(option.id)">
                    {{option.name}}
                  </button>
                  <button *ngIf="!listOfZMKInstances.length" mat-menu-item>
                    No ZMK available
                  </button>
                </mat-menu>

                <button *ngIf="selectedModel.loaded" mat-icon-button matTooltip="Unload from Memory"
                  (click)="unloadFromMemory()">
                  <span class="mdi text-secondary mdi-progress-download"></span>
                </button>

                <button mat-icon-button aria-label="icon"
                  *ngIf="selectedModel?.modelGeneratedFrom === 'DeepNetwork' || selectedModel?.modelGeneratedFrom === 'Workflow'"
                  (click)="trainPmml()" matTooltip="Train Model">
                  <span class="mdi mdi-settings text-secondary"></span>
                </button>
                <button
                  *ngIf="selectedModel?.modelGeneratedFrom === 'DeepNetwork' || selectedModel?.modelGeneratedFrom === 'Workflow'"
                  mat-icon-button (click)="editpmml()" matTooltip="Edit Model">
                  <span class="mdi mdi-square-edit-outline  text-secondary"></span>
                </button>
                <button mat-icon-button aria-label="icon" matTooltip="Download" (click)="downloadModel()">
                  <span class="mdi mdi-download text-secondary"></span>
                </button>
                <app-confirmationbar [message]="message" (confirmDelete)="deletePMML()"></app-confirmationbar>
                <button mat-icon-button aria-label="icon"
                  (click)="sidenav.toggle(); toggleSidebar(sidenav.opened ? 'FULLSCREEN' : 'FULLSCREEN_EXIT')"
                  [matTooltip]="sidenav.opened ? 'Fullscreen' : 'Fullscreen Exit'">
                  <span class="mdi text-secondary"
                    [ngClass]="{'mdi-fullscreen': sidenav.opened, 'mdi-fullscreen-exit': !sidenav.opened}"></span>
                </button>
              </div>
            </mat-toolbar>
            <div class="details">
              <div class="container-fluid py-3">
                <dl class="row">
                  <ng-template [ngIf]="selectedModel?.modelGeneratedFrom">
                    <dt class="col-sm-3 text-truncate text-capitalize">Model</dt>
                    <dd class="col-sm-9">{{ selectedModel?.modelGeneratedFrom }}</dd>
                  </ng-template>
                  <ng-template [ngIf]="selectedModel?.fileStatus">
                    <dt class="col-sm-3 text-truncate text-capitalize">File Status</dt>
                    <dd class="col-sm-9">{{ selectedModel?.fileStatus }}</dd>
                  </ng-template>
                  <dt class="col-sm-3 text-truncate text-capitalize">Loaded in Memory</dt>
                  <dd class="col-sm-9">
                    <span [innerHtml]="selectedModel.loaded ? 'Yes' : 'No'"></span>
                  </dd>
                  <dt class="col-sm-3 text-truncate text-capitalize">Model Deployed</dt>
                  <dd class="col-sm-9">
                    <span [innerHtml]="selectedModel.deployed ? 'Yes' : 'No'"></span>
                  </dd>
                  <dt class="col-sm-3 text-truncate text-capitalize">File Size</dt>
                  <dd class="col-sm-9">{{ selectedModel.size | fileSize }}</dd>
                  <dt class="col-sm-3 text-truncate text-capitalize">Uploaded On</dt>
                  <dd class="col-sm-9">{{ selectedModel.created_on  | date: 'dd MMM yy, hh:mm a'  }}</dd>
                  <ng-template ngFor let-item [ngForOf]="selectedModel?.information">
                    <dt class="col-sm-3 text-truncate text-capitalize">{{ item.property }}</dt>
                    <dd class="col-sm-9">{{ isArray(item.value) ? item.value.join(", ") : item.value }}</dd>
                  </ng-template>
                </dl>
              </div>
            </div>
          </div>
        </ng-template>
      </mat-tab>

      <mat-tab label="DROPZONE">
        <ng-template matTabContent>
          <div *ngIf="uploadFiles && tabSelectedIndex === 1">
            <mat-toolbar>
              <h2>Upload Models</h2>
              <div class="toolbar-mid"></div>
              <div calss="content-toolbar">
                <button *ngIf="(listOfModels && listOfModels.length) && !isLoading" mat-icon-button matTooltip="Cancel"
                  (click)="uploadFilesDone()">
                  <span class="mdi mdi-close text-secondary"></span>
                </button>
                <button mat-icon-button aria-label="icon"
                  (click)="sidenav.toggle();toggleSidebar(sidenav.opened ? 'FULLSCREEN' : 'FULLSCREEN_EXIT')"
                  [matTooltip]="sidenav.opened ? 'Fullscreen' : 'Fullscreen Exit'">
                  <span class="mdi text-secondary"
                    [ngClass]="{'mdi-fullscreen': sidenav.opened, 'mdi-fullscreen-exit': !sidenav.opened}"></span>
                </button>
              </div>
            </mat-toolbar>
            <div class="details">
              <div class="container-fluid">
                <app-dropzone [openFileBrowserWindow]="dropzoneConfig.openFileBrowser" [dropzoneConfig]="dropzoneConfig"
                  (dropzoneSuccess)="onModelUploadSuccess($event)"></app-dropzone>
              </div>
            </div>
          </div>
        </ng-template>
      </mat-tab>

      <mat-tab label="ZME">
        <ng-template matTabContent>
          <div *ngIf="tabSelectedIndex === 2">
            <mat-toolbar>
              <h2><span #name contenteditable="true"
                  (blur)="updateName(name)">{{ selectedModel?.id }}</span>.{{ selectedModel?.extension }}</h2>
              <div class="toolbar-mid"></div>
              <div calss="content-toolbar">
                <!-- <button mat-icon-button aria-label="icon"  (click)="compileForm()" matTooltip="Compile">
                  <span class="mdi mdi-play text-secondary"></span>
                </button> -->
                <button mat-icon-button aria-label="icon"
                  *ngIf="selectedModel?.modelGeneratedFrom === 'DeepNetwork' || selectedModel?.modelGeneratedFrom === 'Workflow'"
                  (click)="trainPmml()" matTooltip="Train Model">
                  <span class="mdi mdi-settings  text-secondary"></span>
                </button>
                <button mat-icon-button aria-label="icon" matTooltip="Cancel" (click)="closeEditor()">
                  <span class="mdi mdi-close text-secondary"></span>
                </button>
                <button mat-icon-button aria-label="icon"
                  (click)="sidenav.toggle();toggleSidebar(sidenav.opened ? 'FULLSCREEN' : 'FULLSCREEN_EXIT')"
                  [matTooltip]="sidenav.opened ? 'Fullscreen' : 'Fullscreen Exit'">
                  <span class="mdi text-secondary"
                    [ngClass]="{'mdi-fullscreen': sidenav.opened, 'mdi-fullscreen-exit': !sidenav.opened}"></span>
                </button>
              </div>
            </mat-toolbar>
            <app-editor [modelArchitecture]="selectedModelArchitecture" [selectedModel]="selectedModel"></app-editor>
          </div>
        </ng-template>
      </mat-tab>

      <mat-tab label="AUTOML">
        <ng-template matTabContent>
          <div *ngIf="!isContentLoading && tabSelectedIndex === 3">
            <mat-toolbar>
              <h2>Pre proccessing Step</h2>
              <div class="toolbar-mid"></div>
              <div calss="content-toolbar">
                <button mat-icon-button aria-label="icon" matTooltip="Cancel" (click)="cancelAutoML()">
                  <span class="mdi mdi-close"></span>
                </button>
                <button mat-icon-button aria-label="icon" (click)="sidenav.toggle()"
                  [matTooltip]="sidenav.opened ? 'Fullscreen' : 'Fullscreen Exit'">
                  <span class="mdi text-secondary"
                    [ngClass]="{'mdi-fullscreen': sidenav.opened, 'mdi-fullscreen-exit': !sidenav.opened}"></span>
                </button>
              </div>
            </mat-toolbar>
            <div class="details">
              <app-automl [dataSource]="automlFormData"></app-automl>
            </div>
          </div>
        </ng-template>
      </mat-tab>

    </mat-tab-group>
    <app-training-parameters-form *ngIf="showTrainingFormPanel" (close)="showTrainingFormPanel = false;"
      (selected)="onTrainingFormDataSubmit($event)" [option]="selectedModel"></app-training-parameters-form>
    <app-compile-parameter-form [showCompileError]="showCompileError" *ngIf="showCompileFormPanel"
      (close)="showCompileFormPanel = false;" (selected)="onCompileFormDataSubmit($event)"></app-compile-parameter-form>
    <app-filter-panel [option]="filterConfig" *ngIf="showFilterPanel" (close)="showFilterPanel = false;"
      (selected)="onFilteredItemSelection($event)"></app-filter-panel>
    <div class="filterPanel" *ngIf="publishModelData">
      <mat-toolbar>
        <div class="toolbar-mid">
          Select Item
        </div>
        <div class="content-toolbar">
          <button mat-icon-button aria-label="icon" matTooltip="Cancel" (click)="closeFilter()">
            <span class="mdi mdi-close text-secondary"></span>
          </button>
          <button mat-icon-button aria-label="icon" matTooltip="Submit" (click)="closeFilter()">
            <span class="mdi mdi-check text-secondary"></span>
          </button>
        </div>
      </mat-toolbar>
      <mat-toolbar>
        <div class="toolbar-mid">
          <div class="filter">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <span class="mdi mdi-magnify"></span>
                </span>
              </div>
              <label for="filter">Filter</label><input type="text" class="form-control" [(ngModel)]="filter"
                placeholder="Filter" id="filter">
            </div>
          </div>
        </div>
      </mat-toolbar>
      <app-loader [isLoading]="isLoading" [message]=""></app-loader>
      <cdk-virtual-scroll-viewport itemSize="51" class="details-list">
        <ul class="list-group list-group-flush">
          <li *cdkVirtualFor="let item of publishModelDataList | searchfilter:'name':filter"
            class="list-group-item list-group-item-action text-truncate">
            <mat-checkbox>
              <span class="mdi mr-2" [ngClass]="utilService.fileTypeIcon(item.type)"></span>
              <span innerHtml="{{ item.name | highlight: filter }}"></span>
            </mat-checkbox>
          </li>
          <li *ngIf="!(publishModelDataList && publishModelDataList.length) && !isLoading"
            class="list-group-item text-truncate text-center text-muted">
            No data available
          </li>
        </ul>
      </cdk-virtual-scroll-viewport>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>