.application-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255,255,255,.95);
    border-top: 1px solid #ddd;
    z-index: 9;
    font-size: 14px;
    height: 40px;
    .application-version {
      cursor: pointer;
    }
  }