<mat-sidenav-container class="page-container">
  <mat-sidenav #sidenav mode="side" opened class="content-sidenav" [fixedInViewport]="false" [fixedTopGap]="0"
    [fixedBottomGap]="0">
    <mat-toolbar>
      <div class="toolbar-mid">
        <div class="filter">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <span class="mdi mdi-magnify"></span>
              </span>
            </div>
            <input type="text" class="form-control" [(ngModel)]="filter" placeholder="Filter">
          </div>
        </div>
      </div>
      <div class="content-toolbar">

      </div>
    </mat-toolbar>
    <app-loader [isLoading]="isLoading"></app-loader>
    <cdk-virtual-scroll-viewport itemSize="51" class="details-list">
      <ul class="list-group list-group-flush">
        <li *cdkVirtualFor="let item of listOfRepoData | searchfilter:'name':filter"
          [ngClass]="{'active': (item.id === selectedData.id)}"
          class="list-group-item list-group-item-action text-truncate" (click)="sidenav.open();viewData(item)">
          <div class="text-truncate">
            <span class="mdi mr-2" [ngClass]="utilService.fileTypeIcon(item.type)"></span>
            <span innerHtml="{{ item.name | highlight: filter }}"></span>
          </div>
          <div class="text-muted">
            <small>Created: {{ item.created_on | date: 'dd MMM yy, hh:mm a' }}</small>
          </div>
        </li>
        <li *ngIf="!(listOfRepoData && listOfRepoData.length) && !isLoading"
          class="list-group-item text-truncate text-center text-muted">
          No data available
        </li>
      </ul>
    </cdk-virtual-scroll-viewport>

  </mat-sidenav>
  <mat-sidenav-content class="content-main" [@.disabled]="true">
    <app-loader [isLoading]="isContentLoading"></app-loader>
    <mat-tab-group class="noTabsHeader" [(selectedIndex)]="tabSelectedIndex" [dynamicHeight]="true">

      <mat-tab label="INFO">
        <ng-template matTabContent>
          <div *ngIf="selectedData.id && tabSelectedIndex === 0">
            <mat-toolbar>
              <h2>
                <span #name contenteditable="true" (blur)="updateName(name)">{{ selectedData?.id }}</span>
                <span *ngIf="selectedData?.extension">.{{ selectedData?.extension }}</span>
              </h2>
              <div class="toolbar-mid"></div>
              <div class="content-toolbar">
                <button mat-icon-button matTooltip="Assign Model" (click)="displayDevies()">
                  <span class="mdi mdi-playlist-check text-secondary"></span>
                </button>
                <button mat-icon-button
                  (click)="sidenav.toggle(); toggleSidebar(sidenav.opened ? 'FULLSCREEN' : 'FULLSCREEN_EXIT')"
                  [matTooltip]="sidenav.opened ? 'Fullscreen' : 'Fullscreen Exit'">
                  <span class="mdi text-secondary"
                    [ngClass]="{'mdi-fullscreen': sidenav.opened, 'mdi-fullscreen-exit': !sidenav.opened}"></span>
                </button>
              </div>
            </mat-toolbar>
            <div class="details">
              <div class="container-fluid py-3">
                <dl class="row">
                  <ng-template ngFor let-prop [ngForOf]="selectedData?.properties" let-i="index">
                    <dt class="col-sm-3 text-truncate text-capitalize">{{ prop.key }}</dt>
                    <dd class="col-sm-9">{{ prop.value }}</dd>
                  </ng-template>
                  <dt class="col-sm-3 text-truncate">File Size</dt>
                  <dd class="col-sm-9">{{ selectedData.size | fileSize }}</dd>
                  <dt class="col-sm-3 text-truncate">Uploaded On</dt>
                  <dd class="col-sm-9">{{ selectedData.created_on | date: 'dd MMM yy, hh:mm a' }}</dd>
                </dl>
              </div>
            </div>
          </div>
        </ng-template>
      </mat-tab>

    </mat-tab-group>
      <div class="filterPanel" *ngIf="showFilterPanel">
          <mat-toolbar>
            <div class="toolbar-mid">
              Select Deivces
            </div>
            <div class="content-toolbar">
              <button mat-icon-button matTooltip="Cancel" (click)="showFilterPanel = false;">
                <span class="mdi mdi-close text-secondary"></span>
              </button>
              <button mat-icon-button matTooltip="Submit" (click)="showFilterPanel = false;">
                <span class="mdi mdi-check text-secondary"></span>
              </button>
            </div>
          </mat-toolbar>
          <mat-toolbar>
            <div class="toolbar-mid">
              <div class="filter">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <span class="mdi mdi-magnify"></span>
                    </span>
                  </div>
                  <input type="text" class="form-control" [(ngModel)]="filter" placeholder="Filter">
                </div>
              </div>
            </div>
          </mat-toolbar>
          <app-loader [isLoading]="isLoading" [message]=""></app-loader>
          <cdk-virtual-scroll-viewport itemSize="51" class="details-list">
            <ul class="list-group list-group-flush">
              <li *cdkVirtualFor="let item of devicesListData | searchfilter:'name':filter"
                class="list-group-item list-group-item-action text-truncate">
                <mat-checkbox>
                  <span innerHtml="{{ item.name | highlight: filter }}"></span>
                </mat-checkbox>
              </li>
              <li *ngIf="!(devicesListData && devicesListData.length) && !isLoading" class="list-group-item text-truncate text-center text-muted">
                No devices available
              </li>
            </ul>
          </cdk-virtual-scroll-viewport>
        </div>
  </mat-sidenav-content>

</mat-sidenav-container>