<aside class="left-sidebar">
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" [routerLink]="['/data']">
        <span class="mdi mdi-folder-multiple-outline"></span>
        <div class="text-truncate">Data</div>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" [routerLink]="['/models']">
        <span class="mdi mdi-xml"></span>
        <div class="text-truncate">Models</div>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" [routerLink]="['/code']">
        <span class="mdi mdi-code-braces"></span>
        <div class="text-truncate">Code</div>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" [routerLink]="['/tasks']">
        <span class="mdi mdi-clipboard-check-outline"></span>
        <div class="text-truncate">Tasks</div>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" [routerLink]="['/assets']">
        <span class="mdi mdi-assistant"></span>
        <div class="text-truncate">Assets</div>
      </a>
    </li>
    <li class="nav-item" hidden>
      <a class="nav-link" routerLinkActive="active" [routerLink]="['/users']">
        <span class="mdi mdi-account-multiple-outline"></span>
        <div class="text-truncate">Users</div>
      </a>
    </li>
  </ul>
</aside>