<aside class="left-sidebar">
  <header>
      <h1 class="pt-3">CUMULOCITY IoT</h1>
      <div class="d-block py-1 text-center"><img alt="" src="assets/logo-zm.png" width="46"></div>
      <p>ZEMENTIS MODELER</p>
  </header>
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" [routerLink]="['/data']">
        <span class="mdi mdi-folder-multiple-outline"></span>
        <div class="text-truncate">Data</div>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" [routerLink]="['/models']">
        <span class="mdi mdi-xml"></span>
        <div class="text-truncate">Models</div>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" [routerLink]="['/code']">
        <span class="mdi mdi-code-braces"></span>
        <div class="text-truncate">Code</div>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" [routerLink]="['/tasks']">
        <span class="mdi mdi-clipboard-check-outline"></span>
        <div class="text-truncate">Tasks</div>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" [routerLink]="['/assets']">
        <span class="mdi mdi-assistant"></span>
        <div class="text-truncate">Assets</div>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" [routerLink]="['/repository']">
        <span class="mdi mdi-source-repository"></span>
        <div class="text-truncate">Repository</div>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" [routerLink]="['/settings']">
        <span class="mdi mdi-settings"></span>
        <div class="text-truncate">Settings</div>
      </a>
    </li>
  </ul>
</aside>